<div id="accordion2" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle ">
                Vefforitun I </a>
        </div>
        <div class="accordion-body collapse" id="collapseOne" >
            <div class="accordion-inner">
                <ul class="nav nav-list">
                    <li><a href="/Teacher/CourseFront" class="active">Forsíða námskeiðs</a></li>
                    <li><a href="/Teacher/Level">Nýtt borð</a></li>
                    <li><a href="/Teacher/Message">Ný tilkynning</a></li>
                    <li><a href="/Teacher/Messages">Tilkynningar</a></li>
                    <li><a href="/Teacher/CommentList">Ummæli</a></li>
                    <li><a href="/Teacher/Project">Nýtt verkefni</a></li>
                    <li><a href="/Teacher/Test">Nýtt próf</a></li>
                    <li><a href="/Teacher/Lecture">Nýr fyrirlestur</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                Vefforitun II </a>
        </div>
        <div class="accordion-body collapse" id="collapseTwo" >
            <div class="accordion-inner">
               <ul class="nav nav-list">
                    <li><a href="/Teacher/CourseFront" class="active">Forsíða námskeiðs</a></li>
                    <li><a href="/Teacher/Level">Nýtt borð</a></li>
                    <li><a href="/Teacher/Message">Ný tilkynning</a></li>
                    <li><a href="/Teacher/Messages">Tilkynningar</a></li>
                    <li><a href="/Teacher/CommentList">Ummæli</a></li>
                    <li><a href="/Teacher/Project">Nýtt verkefni</a></li>
                    <li><a href="/Teacher/Test">Nýtt próf</a></li>
                    <li><a href="/Teacher/Lecture">Nýr fyrirlestur</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                Greining og hönnun hugbúnaðar </a>
        </div>
        <div class="accordion-body collapse" id="collapseThree">
            <div class="accordion-inner">
               <ul class="nav nav-list">
                    <li><a href="/Teacher/CourseFront" class="active">Forsíða námskeiðs</a></li>
                    <li><a href="/Teacher/Level">Nýtt borð</a></li>
                    <li><a href="/Teacher/Message">Ný tilkynning</a></li>
                    <li><a href="/Teacher/Messages">Tilkynningar</a></li>
                    <li><a href="/Teacher/CommentList">Ummæli</a></li>
                    <li><a href="/Teacher/Project">Nýtt verkefni</a></li>
                    <li><a href="/Teacher/Test">Nýtt próf</a></li>
                    <li><a href="/Teacher/Lecture">Nýr fyrirlestur</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
