@{
    ViewBag.Title = "Búa til eða breyta borði";
}

<h2>Búa til eða breyta borði</h2>

@section sidebar {

@Html.Partial("_TeacherSideBar")

}

<form class="form-horizontal" id="registerHere" method='post' action=''>
<fieldset>

<legend>Skrá nýtt kennslugagn</legend>


<div class="control-group">
<label class="control-label">Nafn</label>
<div class="controls">
<input type="text" class="input-xlarge" id="name" name="name" rel="popover" data-content="Settu inn nafn." data-original-title="Nafn námskeiðs">
</div>
</div>




<div class="control-group">
            <label class="control-label" for="select01">Borð nr</label>
            <div class="controls">
              <select id="select02">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
</div>

    <div class="control-group">
        <label class="control-label">
            Virkt</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked">
                Já
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Nei
            </label>
        </div>
    </div>


    <div class="control-group">
<label class="control-label">Opið frá </label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Settu inn hvenær námskeið heftst." data-original-title="Upphafs dagsetning"   data-datepicker="datepicker">
</div>
</div>

<div class="control-group">
<label class="control-label">Lokar</label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Settu inn hvenær námskeiði lýkur." data-original-title="Enda dagsetning"  data-datepicker="datepicker">
</div>
</div>

<div class="control-group">
<label class="control-label"></label>
<div class="controls">
<button type="submit" class="btn btn-success" >Búa til borð</button>
</div>
</div>

</fieldset>
</form>
