@{
    ViewBag.Title = "Skiluð verkefni";
}

<h2>Skiluð verkefni</h2>

@section sidebar {

@Html.Partial("_TeacherSideBar")

}

<h3>Vefforritun I: Skilaverkefni 1</h3>
<form class="form-horizontal label-width-auto">

<fieldset>
<div class="controlgroup">
<dl>
<dt>Skilað af:</dt><dd>Eyjólfur Kristjánsson, Valur Hrafn Einarsson</dd>
<dt>Skrá:</dt> <dd><a href="#">skilaverkefni1_eyjolfur12_valure09</a></dd>
<dt>Athugasemd:</dt> <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus a sapien egestas euismod et ut lorem. Mauris pulvinar faucibus commodo. In pellentesque pretium purus, eu feugiat augue sollicitudin ac. Fusce sed tellus a risus tempus consequat. Phasellus vel purus quis ligula vulputate ultrices eu ac tellus. Sed mattis mattis massa ut auctor. Suspendisse non elit tellus. In mollis auctor viverra. Cras vitae felis nec libero volutpat varius ac eget massa.</dd>
</dl>

<label for="einkunn" class="control-label" >Einkunn: </label> <input type="text" id="" name="" class="input-xsmall"  value="10"/>
</div>
</fieldset>

<fieldset>
<div class="controlgroup">
<dl>
<dt>Skilað af:</dt><dd>Davíð Einarsson, Erling J. Guðjohnsen Sigurðsson</dd>
<dt>Skrá:</dt> <dd><a href="#">skilaverkefni1_davide09_erlingg10</a></dd>
<dt>Athugasemd:</dt> <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus a sapien egestas euismod et ut lorem. Mauris pulvinar faucibus commodo. In pellentesque pretium purus, eu feugiat augue sollicitudin ac. Fusce sed tellus a risus tempus consequat. Phasellus vel purus quis ligula vulputate ultrices eu ac tellus. Sed mattis mattis massa ut auctor. Suspendisse non elit tellus. In mollis auctor viverra. Cras vitae felis nec libero volutpat varius ac eget massa.</dd>
</dl>

<label for="einkunn" class="control-label" >Einkunn: </label> <input type="text" id="" name="" class="input-xsmall"  value="10"/>
</div>
</fieldset>



<fieldset>
<div class="controlgroup">
<dl>
<dt>Skilað af:</dt><dd>Hans Pétur Jónsson, Ólafur Jóhannsson</dd>
<dt>Skrá:</dt> <dd><a href="#">skilaverkefni1_hansj10_olafurjoh</a></dd>
<dt>Athugasemd:</dt> <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus a sapien egestas euismod et ut lorem. Mauris pulvinar faucibus commodo. In pellentesque pretium purus, eu feugiat augue sollicitudin ac. Fusce sed tellus a risus tempus consequat. Phasellus vel purus quis ligula vulputate ultrices eu ac tellus. Sed mattis mattis massa ut auctor. Suspendisse non elit tellus. In mollis auctor viverra. Cras vitae felis nec libero volutpat varius ac eget massa.</dd>
</dl>

<label for="einkunn" class="control-label" >Einkunn: </label> <input type="text" id="" name="" class="input-xsmall" value="10"/>
</div>
</fieldset>

<div class="control-group">
<label class="control-label"></label>
<button type="submit" class="btn btn-success" >Vista einkunnir</button>
</div>

</form>