

<div class="well sidebar-nav">         
    <ul class="nav nav-list">
        <li class="nav-header">Umsjón</li>
        <li class="active"><a href="/Admin">Forsíða</a></li>
        <li><a href="/Admin/Course">Nýtt námskeið</a></li>
        <li><a href="/Admin/Teacher">Nýr kennari</a></li>
        <li><a href="/Admin/Student">Nýr nemandi</a></li>
        <li><a href="/Admin/CourseList">Námskeið</a></li>
        <li><a href="/Admin/TeacherList">Kennarar</a></li>
        <li><a href="/Admin/StudentList">Nemendur</a></li>
        <li><a href="/Admin/CourseRegisterTeacher">Kennari í námskeið</a></li>
        <li><a href="/Admin/CourseRegisterStudent">Nemandi í námskeið</a></li>
        <li></li>
    </ul>
</div>
