

<div class="well sidebar-nav">         
    <ul class="nav nav-list">
        <li class="nav-header">Umsjón</li>
        <li class="active"><a href="/Admin">Forsíða</a></li>
        <li><a href="/Admin/Course">Nýtt námskeið</a></li>
        <li><a href="/Admin/EditUser">Nýr kennari</a></li>
        <li><a href="/Admin/EditUser">Nýr nemandi</a></li>
        <li><a href="/Admin/CourseList">Námskeið</a></li>
        <li><a href="/Admin/UserList">Kennarar</a></li>
        <li><a href="/Admin/UserList">Nemendur</a></li>
        <li><a href="/Admin/CourseRegisterUser">Kennari í námskeið</a></li>
        <li><a href="/Admin/CourseRegisterUser">Nemandi í námskeið</a></li>
        <li></li>
    </ul>
</div>
