

<div class="well sidebar-nav">         
    <ul class="nav nav-list">
        <li class="nav-header">Umsjón</li>
        <li><a href="/Admin">Leit</a></li>
        <li><a href="/Admin/Courses">Námskeið</a></li>
        <li><a href="/Admin/Users">Notendur</a></li>
        <li><a href="/Admin/UserCourse">Skrá notendur í námskeið</a></li>
        <li></li>
    </ul>
</div>
