@{
    ViewBag.Title = "Námskeiða listi";
}

<h2>Námskeiða listi</h2>

@section sidebar {

@Html.Partial("_AdminSideBar")

}

@Html.Partial("_AdminSearchForm")

<ul>
<li><a href="/Admin/Course">Vefforitun I</a></li>
<li><a href="/Admin/Course">Vefforitun II</a></li>
<li><a href="/Admin/Course">Greining og hönnun hugbúnaðar</a></li>
<li><a href="/Admin/Course">Verklegt námskeið</a></li>
</ul>
