

<a class="btn btn-primary" href="/Admin/Course/">
    <i class="icon-plus-sign icon-white"></i>
    Skrá nýtt námskeið
</a>

<br /><br />

<ul>
    @foreach (var c in ViewBag.Courses)
    {
    <li><a href="/Admin/Course/@c.CourseId" >@c.Name</a></li>
    }
</ul>