@{
    ViewBag.Title = "Forsíða umsjónarmanns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminSearchForm")

<h2>Niðurstöður leitar</h2>

<ul>
    <li><a href="/Admin/EditUser">Davíð Einarsson</a></li>
    <li><a href="/Admin/EditUser">Erling J. Guðjohnsen Sigurðsson </a></li>
    <li><a href="/Admin/EditUser">Eyjólfur Kristjánsson</a></li>
    <li><a href="/Admin/EditUser">Hans Pétur Jónsson</a></li>
    <li><a href="/Admin/EditUser">Ólafur Jóhannsson</a></li>
    <li><a href="/Admin/EditUser">Valur Hrafn Einarsson</a></li>
</ul>

