<fieldset>
    
    @{
        Html.BeginForm("Search", "Admin", FormMethod.Post);
    

    <legend>Leit</legend>
    <div class="control-group">
        <label class="control-label" for="select01">
            Tegund leitar</label>
        <div class="controls">
            <select id="searchtype" name="searchtype">
                <option selected="selected">Notandi</option>
                <option>Námskeið</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select01">
            Tegund notanda</label>
        <div class="controls">
            <select id="usertype" name="usertype">
                <option selected="selected">Nemandi</option>
                <option>Kennari</option>
                <option>Umsjónarmaður</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Leitarstrengur</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="search" name="search" rel="popover" data-content="Sláðu inn leitarstreng."
                   data-original-title="Fullt Nafn">
        </div>
    </div>
    
        
        
    <div class="control-group">
        <label class="control-label">
        </label>
        <div class="controls">
            <button type="submit" class="btn btn-success">
                Leita</button>
        </div>
    </div>
    }
</fieldset>

<script type="text/javascript">
    $(function () {
        var userType = $("usertype");
        $("#searchtype[option='nemandi']").
    });
</script>