

<a class="btn btn-primary" href="/Admin/UserCreate/">
    <i class="icon-plus-sign icon-white"></i>
    Skrá nýjan notanda
</a>

<br /><br />

<ul>
    @foreach (var u in ViewBag.Users)
    {
    <li><a href="/Admin/UserEdit/@u.UserInfoId/">@u.Fullname</a></li>
    }
</ul>