@{
    ViewBag.Title = "Listi yfir notendur";
}

<h2>Listi yfir notendur</h2>

@section sidebar {

@Html.Partial("_AdminSideBar")

}

<a class="btn btn-primary" href="/Admin/UserEdit/">
    <i class="icon-plus-sign icon-white"></i>
    Skrá nýjan notanda
</a>

<br /><br />

<ul>
    @foreach (var u in ViewBag.Users)
    {
    <li><a href="/Admin/User/@u.UserInfoId/">@u.Fullname</a></li>
    }
</ul>