@using Ru.GameSchool.DataLayer.Repository
@model LevelExamQuestion
<div class="control-group">
    <label class="control-label">
        Spurning</label>
    <div class="controls">
        @Html.EditorFor(m => Model.Question)
    </div>
</div>



<div class="control-group">
    <label class="control-label">
        Spurning</label>
    <div class="controls">
        @Html.EditorFor(m => Model.Question)
    </div>
</div>



