

            <div class="control-group">
                <label class="control-label">
                    Spurning</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name" rel="popover" data-content="Settu inn nafn."
                        data-original-title="Skrifaðu spurningu">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                </label>
                <div class="controls">
                    <button type="button" class="btn btn-success">
                        Nýtt svar</button>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Svarmöguleikar:</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked="checked">
                        Já
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
                        Nei
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                </label>
                <div class="controls">
                    <button type="submit" class="btn btn-success">
                        Vista próf</button>
                </div>
            </div>