@{
    ViewBag.Title = "Búa til nýtt próf";
}
<script type="text/javascript">
    

</script>
<h2>
    Búa til nýtt próf</h2>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Nýtt próf</legend>
            
            <div class="control-group">
            <label class="control-label">
            @Html.DropDownList("QuestionsTotal")
            </label>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Skilafrestur</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover"
                           data-content="Settu inn hvenær ekki er lengur hægt að skila inn svari." data-original-title="Enda dagsetning"
                           data-datepicker="datepicker">
                </div>
            </div>

            <button type="button" class="btn btn-success">
                Bæta við spurningu</button>

         @for (int j = 1; j <= Html.DropDownList("QuestionsTotal").ToString().Count(); j++)
         {
             @Html.Partial("_ExamQuestion")
         }
            
        </fieldset>
    }
</div>
