@using Ru.GameSchool.DataLayer.Repository
@model LevelExam
@{
    ViewBag.Title = "Búa til nýtt próf";
}
<h2>
    Búa til nýtt próf</h2>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Nýtt próf</legend>
            <div class="control-group">
                <label class="control-label">
                    Nafn</label>
                <div class="controls">
                    @Html.EditorFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Lýsing</label>
                <div class="controls">
                    @Html.EditorFor(m => m.Description)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Skilafrestur</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover"
                        data-content="Settu inn hvenær ekki er lengur hægt að skila inn svari." data-original-title="Enda dagsetning"
                        data-datepicker="datepicker">
                </div>
            </div>
            @*Skilafrestur*@
            <div class="control-group">
                <label class="control-label">
                    Hlutfall prósentu</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.GradePercentageValue, ViewBag.GradePercentageValues as IEnumerable<SelectListItem>)
                </div>
            </div>
            @*Submit*@
            <div class="control-group">
                <label class="control-label">
                </label>
                <div class="controls">
                    <button type="submit" class="btn btn-success">
                        Vista próf</button>
                </div>
            </div>@*Submit*@
            @*@Html.Partial("_ExamQuestion")*@
            @Html.EditorFor(m => m.LevelExamQuestions)
            

        </fieldset>
    }
</div>
<script type="text/javascript">

    $(".radio").click(function () {
        console.log(this.innerHTML);
    });

</script>
