@{
    ViewBag.Title = "Tilkynningar í " + ViewBag.Course.Name;
}

<div class="hero-unit">
    <h1>Nýjustu tilkynningar</h1>
    @foreach (var a in ViewBag.Announcements)
    {
        <article>
            <h3>
                <span class="gray">@a.DisplayDateTime.ToString("dd.MM.yyyy") | </span><a data-toggle="modal" href="/Course/Announcement/@a.AnnouncementId">@a.Title</a></h3>
            <p>
                @if (a.Article.Length > 400)
                {
                    @a.Article.Remove(400);
                }
                else
                {
                    @a.Article;
                }
            </p>
        </article>
    }
</div>