@{
    ViewBag.Title = ViewBag.Announcement.Title;
}

<div class="hero-unit">
    <h1>@ViewBag.Announcement.Title</h1>
        <article>
            <h3>
                <span class="gray">@ViewBag.Announcement.DisplayDateTime.ToString("dd.MM.yyyy")</span></h3>
            <p>
                @ViewBag.Announcement.Article
            </p>
        </article>
        @if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink("Breyta", "EditAnnouncement", "Level", new { id = ViewBag.Announcement.AnnouncementId }, new { @class = "btn btn-success" })
        }
</div>