@{
    ViewBag.Title = "Námskeið";
}
<h2>
    Index</h2>
<div class="row-fluid course-box">
    <h2>
        Þín námskeið</h2>
    <div class="span4 well">
        @foreach (var item in ViewBag.Courses)
        {  
        
            <h3>@item.Name</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p>
                <a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        
        }
    </div>
    <!--/span-->
</div>
