
@using (Html.BeginForm("Create", "Material", new {id=ViewBag.CourseId}, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" } ))

{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Kennslugagn</legend>
        @Html.Partial("_MaterialForm")

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" >Bæta við kennslugagni</button>
            </div>
        </div>
    </fieldset>
}