
<ul>
    @foreach(var item in ViewBag.Materials)
    {
        <li>@Html.ActionLink((@item.Title +" - "+@item.ContentTypeId) as string, User.IsInRole("Student") ? "Get" : "Edit", new { LevelMaterialId = @item.LevelMaterialId })</li>
    }
</ul>