<div class="well">         
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
    <h3>31.451 stig</h3>
</div>

<div class="well sidebar-nav">         
    <ul class="nav nav-list">
        <li class="nav-header">Vefforritun II</li>
        <li class="active"><a href="#">Forsíða</a></li>
        <li><a href="#">Stigatafla</a></li>
        <li><a href="#">Námsefni</a></li>
        <li><a href="#">Verkefni</a></li>
        <li><a href="#">Próf</a></li>
        <li><a href="#">Einkunnir</a></li>
        <li></li>
    </ul>
</div>