@{
    ViewBag.Title = "Um GameSchool";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        GameSchool er kerfi sem úthlutar og heldur utan um vinnu nemanda við námskeið í skólanum.
        Markmið GameSchool er að gera þetta á aðgengilegan hátt og til að hvetja nemendur er líka í gangi leikur, þar sem nemendur geta unnið sér inn stig með virkri þáttöku.
    </p>

</article>

<aside>

</aside>