@{
    ViewBag.Title = "Listi yfir próf";
}

<h2>Listi yfir próf</h2>

@section sidebar {

@Html.Partial("_LeftSideBar")

}
@section courseheading {

@Html.Partial("_courseheading")

}

<ul>
<li><a href="/Home/Exam">Vefpróf 4 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Exam">Vefpróf 3 - Skiladagur: 16.4.2012 23.59</a></li>
<li><a href="/Home/Exam">Vefpróf 2 - Skiladagur: 12.4.2012 23.59</a></li>
<li><a href="/Home/Exam">Vefpróf 1 - Skiladagur: 1.4.2012 23.59</a></li>

</ul>
