@{
    ViewBag.Title = "Forsíða";
}


@section sidebar {

@Html.Partial("_HomeSideBar")

}

<div class="hero-unit">
    <h1>
        GameSchool</h1>
    <article>
        <h3>
            <span class="gray">18.04.2012 | </span><a data-toggle="modal" href="#myModal">Búið að opna borð 4</a></h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
        </p>
    </article>
    <article>
        <h3>
            <span class="gray">14.04.2012 | </span><a data-toggle="modal" href="#myModal">Dæmatíminn í dag</a></h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
        </p>
    </article>
    <article>
        <h3>
            <span class="gray">01.04.2012 | </span><a data-toggle="modal" href="#myModal">Fyrirlestur fluttur vegna mikillar aðsóknar</a></h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
        </p>
    </article>
    <p>
        <a class="btn btn-primary" href="/Home/Messages">Meira... &raquo;</a></p>
</div>
<!-- Move to partial view for modal -->
<div id="myModal" class="modal" style="display: none">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            ×</button>
        <h3>
            Tilkynning!</h3>
    </div>
    <div class="modal-body">
        <h4>
            Mögnuð modal tilkynning!</h4>
        <p>
            Kæru vinir,</p>
        <p>
            Þetta er dæmi um tilkynningu í modal glugga</p>
    </div>
</div>
<!-- end move -->
<div class="row-fluid course-box">
    
    <h2>Þín námskeið</h2>
    <div class="row-fluid">
        <div class="span4 well">
            <h3>Vefforritun I</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
        <div class="span4 well">
            <h3>Vefforritun II</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
        <div class="span4 well">
            <h3>Greining og hönnun hugbúnaðar</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
        <div class="span4 well">
            <h3>Tölvugrafík</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
        <div class="span4 well">
            <h3>Verkefnalausnir</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
        <div class="span4 well">
            <h3>Hugbúnaðarfræði</h3>
            <ul>
                <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                <li><a href="/Home/Project">CSS</a></li>
                <li><a href="/Home/Project">HTML5 glærur</a></li>
            </ul>
            <p><a class="btn btn-small" href="#">Skoða nánar &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
</div>
