@{
    ViewBag.Title = "Tilkynning";
}

<h2>Tilkynningar</h2>

@section sidebar {

@Html.Partial("_LeftSideBar")

}

<article>
<h3><span class="gray">18.04.2012 | </span>Fyrirlestur fluttur vegna mikillar aðsóknar</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et libero faucibus vulputate. Donec adipiscing velit non erat eleifend aliquet. Sed pulvinar nulla eleifend nulla placerat tristique. Morbi blandit, urna at venenatis lacinia, metus lorem fringilla leo, in convallis mauris nisl id nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas molestie ultricies libero sit amet bibendum. Morbi auctor, dolor vel eleifend faucibus, libero enim posuere dolor, nec dignissim dolor sem in lacus. In mauris erat, interdum nec tempus sit amet, elementum non sapien. Suspendisse potenti. Suspendisse luctus quam eu lorem suscipit volutpat id ut erat.
    </p>

</article>
