@{
    ViewBag.Title = "Tilkynning";
}

<h2>Tilkynningar</h2>

@section sidebar {

@Html.Partial("_LeftSideBar")

}

<article>
<h3><a href="/Home/Message/"><span class="gray">18.04.2012 | </span>Búið að opna borð 4</a></h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta porttitor nisl, at accumsan urna malesuada ac. Aenean placerat malesuada ipsum, eget mattis nibh egestas at. Integer magna ipsum, dignissim eu feugiat a, elementum eget odio. In tristique lectus vitae nibh viverra malesuada. Curabitur vitae justo sed tellus tincidunt scelerisque ut non quam. Nam nec lacus ut arcu imperdiet lacinia et in libero. Sed lectus felis, aliquet et vestibulum et, faucibus quis libero. Nullam pulvinar consequat orci eu aliquet. Phasellus nec gravida sapien. Nullam arcu purus, posuere ut tempus nec, feugiat et purus. Vestibulum sapien nisi, pellentesque eleifend dapibus quis, gravida at elit. Aliquam vel ipsum eu arcu porttitor dapibus at eget erat. Cras ac orci ac dolor placerat venenatis sit amet ac quam. Nullam arcu velit, tincidunt eu blandit sit amet, posuere quis nisl. Suspendisse sollicitudin nibh non quam ultrices quis tempor leo feugiat. 
    </p>
</article>
