@{
    ViewBag.Title = "Tilkynningar";
}

<h2>Tilkynningar</h2>

@section sidebar {

@Html.Partial("_HomeSideBar")

}

<article>
<h3><span class="gray">18.04.2012 | </span>Búið að opna borð 4</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
    </p>
</article>
<article>
<h3><span class="gray">14.04.2012 | </span>Dæmatíminn í dag</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
    </p>
</article>
<article>
<h3><span class="gray">01.04.2012 | </span>Fyrirlestur fluttur vegna mikillar aðsóknar</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
    </p>
</article>
<article>
<h3><span class="gray">18.03.2012 | </span>Uppdökur misfórust</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
    </p>
</article>
<article>
<h3><span class="gray">12.03.2012 | </span>Kennlubók nú fánleg</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et ...
    </p>
</article>