@{
    ViewBag.Title = "Verkefni";
}

<h2>Verkefni</h2>

@section sidebar {

@Html.Partial("_HomeSideBar")

}

<article>
<h3><span class="gray">18.04.2012 | </span>Skilaverkefni 1 </h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut leo et libero faucibus vulputate. Donec adipiscing velit non erat eleifend aliquet. Sed pulvinar nulla eleifend nulla placerat tristique. Morbi blandit, urna at venenatis lacinia, metus lorem fringilla leo, in convallis mauris nisl id nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas molestie ultricies libero sit amet bibendum. Morbi auctor, dolor vel eleifend faucibus, libero enim posuere dolor, nec dignissim dolor sem in lacus. In mauris erat, interdum nec tempus sit amet, elementum non sapien. Suspendisse potenti. Suspendisse luctus quam eu lorem suscipit volutpat id ut erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean condimentum justo ut elit auctor dignissim. Cras lacus nulla, imperdiet non euismod quis, vestibulum eget sapien. Sed suscipit convallis vulputate. Cras rhoncus sollicitudin libero, nec tristique libero vehicula at. Fusce lobortis, lectus eget gravida feugiat, magna mauris venenatis lacus, id semper leo urna id nulla.
</p>
<p>
Nullam sit amet diam eu justo commodo rhoncus. Fusce lacus mauris, sodales at tincidunt et, condimentum quis quam. Phasellus vel quam lacus. Nam auctor lacus ut lorem mattis ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam gravida euismod feugiat. Nullam ac ante nisl, ut pellentesque mauris. Duis quis dictum metus. Sed et sem eget enim tincidunt porttitor eleifend a ligula. Etiam at placerat leo. Nam eu odio at erat sagittis ultricies id ac justo. Nulla non tortor neque.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum venenatis eros ut aliquet. Aliquam vitae ipsum leo, porta dapibus mauris. Ut dictum leo quam, eu condimentum leo. Maecenas ac cursus odio. Aliquam sed rutrum turpis. Proin tincidunt imperdiet nibh, a egestas ante tempor vitae. Pellentesque suscipit, diam vel fringilla viverra, lectus enim rhoncus neque, quis varius ligula diam non erat.
</p>
<p>
Donec nec velit et sapien rutrum malesuada at vel dolor. Maecenas ut felis pretium augue ornare eleifend. Maecenas quam metus, cursus non aliquet at, sollicitudin nec tellus. Vivamus rhoncus lobortis rutrum. Vestibulum vel tristique ipsum. Nulla vulputate tempus leo eu pellentesque. Ut egestas augue et mi ornare placerat. Vestibulum sit amet lacus sem. Phasellus erat nibh, feugiat id tempor non, consectetur eu urna. Maecenas sed dolor dui, id imperdiet enim. Integer in nulla eros. Aliquam tempus enim a augue aliquet tincidunt. Curabitur euismod rutrum leo sit amet congue. Pellentesque tincidunt mattis lorem, at semper orci pulvinar id. Vivamus justo elit, convallis a dignissim non, commodo id magna. Suspendisse id urna ac enim facilisis porta vel at arcu.
</p>
<p>
Integer sit amet sollicitudin dui. Donec aliquam faucibus justo, vel ullamcorper sem interdum sed. Vestibulum nunc nisl, faucibus ac imperdiet eget, aliquam vitae dui. Vestibulum eget quam quam. Vestibulum sit amet libero sed elit ultrices fringilla eu vitae dolor. Donec dapibus mollis malesuada. In hac habitasse platea dictumst.
</p>
</article>
<div><p>Skilafrestur: 24.5.2012 23.59</p></div>
<div><p>Leyfilegar skrár: .doc, .pdf, .zip, .rar</p></div>

<form>


<h4>Skila verkefni:</h4>
<div class="control-group">
<label class="control-label">Skrá</label>
<div class="controls">
<input type="file" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Settu inn hvenær námskeiði lýkur." data-original-title="Enda dagsetning"  data-datepicker="datepicker">
</div>
</div>

<div class="control-group">
            <label class="control-label" for="textarea">Skilaboð</label>
            <div class="controls">
              <textarea class="input-xlarge" id="lysing" rows="3" rel="popover" data-content="Settu inn lýsingu á námskeiði." data-original-title="Lýsing"></textarea>
            </div>
 </div>
</form>
