@{
    ViewBag.Title = "Listi yfir verkefni";
}

<h2>Listi yfir verkefni</h2>

@section sidebar {

@Html.Partial("_LeftSideBar")

}
@section courseheading {

@Html.Partial("_courseheading")

}

<ul>
<li><a href="/Home/Project">Dæmatímaverkefni 3 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Project">Skilaverkefni 2 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Project">Dæmatímaverkefni 3 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Project">Dæmatímaverkefni 2 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Project">Skilaverkefni 1 - Skiladagur: 23.5.2012 23.59</a> </li>
<li><a href="/Home/Project">Dæmatímaverkefni 1 - Skiladagur: 23.5.2012 23.59</a> </li>

</ul>
