<div class="well">
    <h2>Velkomin/n á GameSchool</h2>
    <p>Einhver hjalpartexti!</p>
</div>

<!--
<div class="well">
    <h2>199 stig</h2>
    <p>Þú ert í <span class="label label-info">3</span> sæti í leiknum!</p>
    <p>og þarft aðeins <span class="label label-success">2</span> stig til þess að komast einu sæti ofar!</p>
    <p>Næsti keppandi á eftir þér þarf aðeins <span class="label label-warning">16</span> stig til þess að komast yfir þig!</p>
    <button class="btn btn-small" data-toggle="modal" data-target="#leaderBoard">Sjá topplistann</button>
</div>
-->
<!--TEMP HTML FOR MODAL WINDOW-->
<div id="leaderBoard" class="modal" style="display:none">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            ×</button>
        <h3>Topp 10!</h3>
    </div>
    <div class="modal-body">
        <h4>Topplistinn!</h4> 
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Stig</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
                <tr>
                    <td>1</td>
                    <td>256</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>199</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>184</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>178</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>175</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>144</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>137</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>126</td>
                </tr>
            </tbody>
        </table>                         
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Loka</a>
    </div>
</div>
<!--END -->
<div id="accordion2" class="accordion">
    @foreach (var item in ViewBag.UserCourseList)
    {
        foreach (var nesteditem in item)
        {
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#@nesteditem.CourseId" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle ">@nesteditem.Name</a>
            </div>
            <div class="accordion-body collapse" id="@nesteditem.CourseId" >
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li>@Html.ActionLink("Núverandi borð", "Item", "Course", new { id = @nesteditem.CourseId }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        }
    }
</div>
