<div class="btn-group pull-right">
                            
    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-exclamation-sign icon-white"></i> 6 Tilkynningar
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/Account/Profile/">Ný einkun í Vefforritun fyrir Skilaverkefni 2</a></li>
        <li><a href="/Account/Profile/">Bjarna Jóns líkar við álitið þitt</a></li>
        <li><a href="/Account/Profile/">Þú fékkst 7 stig í Vefforritun fyrir Skilaverkefni 2</a></li>
    </ul>
                            
</div>
