<div class="btn-group pull-right">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> @ViewBag.User.Fullname
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Hætta","Logoff", "Account")</li>
    </ul>
</div>
