<div class="btn-group pull-right">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Erling Guðjohnsen
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/Account/Profile/">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/Account/Logout/">Hætta</a></li>
    </ul>
                            
</div>
