
                            <li class="dropdown" id="ControlMenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#ControlMenu">
                                  Aðgerðir
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="/Admin/">Umsjónarkerfi</a></li>
                                  <li><a href="/Admin/Users/">Skráning Notenda</a></li>
                                  <li><a href="/Admin/Courses/">Skráning Námskeiða</a></li>
                                </ul>
                            </li>